.navbar-inverse {
  background-color: #3276b1;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-nav li a {
  color: #ffffff;
}
.jumbotron {
  margin-bottom: 0;
  background-color: #80a8cc;
}
.jumbotron h1,
.jumbotron h3,
.jumbotron p {
  color: #ffffff;
}
.jumbotron h3 {
  opacity: 0.7;
}
.jumbotron ul.social {
  padding-top: 40px;
}
.jumbotron .btn {
  margin-top: 22px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  padding: 17px 30px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.jumbotron .shameless-self-promotion {
  margin-top: 22px;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.42857143;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.jumbotron .shameless-self-promotion a {
  color: #ffffff;
}
.blog-post-callout {
  padding: 15px 20px;
  color: #787878;
  background-color: #fafafa;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e6e6e6;
}
