<!DOCTYPE html>
<html ng-app="jcs-demo">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Auto Validate Test Page</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div ng-controller="demoCtrl">
        <p>
            <button type="button" class="btn btn-primary" ng-click="toggleBS3Icons();">Toggle Validation State Icons</button>
        </p>
        <form role="form" novalidate="novalidate" ng-submit="submit();">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" placeholder="Enter Name" ng-model="user.name" required="required"/>
            </div>
            <div class="form-group">
                <label class="control-label">Email address - <small>Element with a custom element modifier (see source code)</small></label>
                <input type="email" class="form-control" placeholder="Enter email" ng-model="user.email" required="required" element-modifier="myCustomModifierKey"/>
            </div>
            <div class="form-group">
                <label class="control-label">Password - <small>Element with validation happening on blur rather than change</small></label>
                <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required="required" ng-minlength="6" ng-model-options="{updateOn: 'blur'}"/>
            </div>
            <div class="form-group">
                <label class="control-label">Robot Test: Please spell Angular. - <small>Custom validation</small></label>
                <input type="text" class="form-control" placeholder="Enter The Word Angular" ng-model="user.iq" mustcontainword="angular"/>
            </div>
            <div class="form-group">
                <label class="control-label">Is User Active?
                <input type="checkbox" class="form-control"  ng-model="user.isActive" /></label>
            </div>
            <div class="form-group">
                <label class="control-label">Input with no validation</label>
                <input type="text" class="form-control" placeholder="Enter The Word Angular" ng-model="user.noValidation" />
            </div>

            <ng-form name="childForm">
                <div class="form-group">
                    <label class="control-label">Nickname</label>
                    <input type="text" class="form-control" name="Nickname" placeholder="Enter Nickname" ng-model="user.Nickname" required="required" ng-minlength="4">
                </div>
            </ng-form>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>

    <script type="text/javascript" src="../dist/jcs-auto-validate.min.js"></script>

    <!--<script type="text/javascript" src="../src/jcs-auto-validate.js"></script>-->
    <!--<script type="text/javascript" src="../src/providers/validator.js"></script>-->
    <!--<script type="text/javascript" src="../src/services/bootstrap3ElementModifier.js"></script>-->
    <!--<script type="text/javascript" src="../src/services/debounce.js"></script>-->
    <!--<script type="text/javascript" src="../src/services/defaultErrorMessageResolver.js"></script>-->
    <!--<script type="text/javascript" src="../src/services/foundation5ElementModifier.js"></script>-->
    <!--<script type="text/javascript" src="../src/services/validationManager.js"></script>-->
    <!--<script type="text/javascript" src="../src/config/ngSubmitDecorator.js"></script>-->
    <!--<script type="text/javascript" src="../src/config/ngModelDecorator.js"></script>-->
    <!--<script type="text/javascript" src="../src/jcs-auto-validate-run.js"></script>-->

    <script type="text/javascript">
    (function (angular) {
        var app = angular.module('jcs-demo', ['jcs-autoValidate']);

        app.controller('demoCtrl', [
            '$scope',
            'bootstrap3ElementModifier',
            function ($scope, bootstrap3ElementModifier) {
                $scope.user = {};
                $scope.bs3Icons = false;

                $scope.toggleBS3Icons = function () {
                    $scope.bs3Icons = !$scope.bs3Icons;
                    bootstrap3ElementModifier.enableValidationStateIcons($scope.bs3Icons);
                };

                $scope.submit = function () {
                    alert('form submitted');
                };

                $scope.toggleBS3Icons();
            }
        ]);

        app.directive('mustcontainword', [
            function() {
                return {
                    restrict: 'A',
                    require: 'ngModel',
                    link: function(scope, elm, attrs, ctrl) {
                        var validateFn = function (viewValue) {
                            if (ctrl.$isEmpty(viewValue) || viewValue.toLowerCase().indexOf(attrs.mustcontainword.toLowerCase()) === -1) {
                                ctrl.$setValidity('mustcontainword', false);
                                return undefined;
                            } else {
                                ctrl.$setValidity('mustcontainword', true);
                                return viewValue;
                            }
                        };

                        ctrl.$parsers.push(validateFn);
                        ctrl.$formatters.push(validateFn);
                    }
                }
            }]);

        app.factory('myCustomElementModifier', [
            function () {
                var /**
                         * @ngdoc function
                         * @name myCustomElementModifier#makeValid
                         * @methodOf myCustomElementModifier
                         *
                         * @description
                         * Makes an element appear valid by apply custom styles and child elements.
                         *
                         * @param {Element} el - The input control element that is the target of the validation.
                         */
                        makeValid = function (el) {
                            el.removeClass('bg-red');
                            el.addClass('bg-green');
                        },

                        /**
                         * @ngdoc function
                         * @name myCustomElementModifier#makeInvalid
                         * @methodOf myCustomElementModifier
                         *
                         * @description
                         * Makes an element appear invalid by apply custom styles and child elements.
                         *
                         * @param {Element} el - The input control element that is the target of the validation.
                         * @param {String} errorMsg - The validation error message to display to the user.
                         */
                        makeInvalid = function (el, errorMsg) {
                            el.removeClass('bg-green');
                            el.addClass('bg-red');
                        };

                return {
                    makeValid: makeValid,
                    makeInvalid: makeInvalid,
                    key: 'myCustomModifierKey'
                };
            }
        ]);

        // now register the custom element modifier with the auto-validate module and set it as the default one for all elements
        app.run([
            'validator',
            'myCustomElementModifier',
            'defaultErrorMessageResolver',
            function (validator, myCustomElementModifier, defaultErrorMessageResolver) {
                validator.registerDomModifier(myCustomElementModifier.key, myCustomElementModifier);
                defaultErrorMessageResolver.errorMessages['mustcontainword'] = 'Please enter the word "{0}"';
            }
        ]);
    }(angular));
    </script>
</body>
</html>